#-----------------------------#
# [EN] Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#-----------------------------#

# setr ea_LanguageName "en"                # set our language to english
# setr ea_MenuButton "212"			# set our menu button to F2. default: "289"
# setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
#set ea_moderationNotification "https://discord.com/api/webhooks/961639588470857779/9ZV7V3-h1Vbvv5jSgxVM-nhh9oCLrnsmin5pzuHn3Sn4MLdQzipYHs0TD1dEvzPfJBw4"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
# set ea_custombanlist "false"            # read docs for this, dont touch it
# set ea_enableCallAdminCommand "true" # enables "calladmin" command via webhook
# set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos
# add_ace group.admin easyadmin allow
set socket_port 50120
set livemap_debug "warn" # "[all]" 'trace', 'debug', 'info', 'warn', 'error', 'fatal', 'off'
set blip_file "server/blips.json"
set livemap_access_control "*"
set livemap_use_nucleus false # Allow livemap to set up a secure reverseProxy using the Nucleus project
start drp-discord
start zdiscord
add_ace resource.zdiscord command allow
add_ace group.zdiscordstaff zdiscord.staffchat allow
add_principal identifier.steam:1100001367852fc  group.admin

add_principal identifier.steam:1100001367852fc  group.sync


add_principal identifier.steam:110000103db2151  group.admin

### Weather

add_principal identifier.steam:110000103db2151  group.sync

add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow
add_ace group.sync "rhys19.tornado" allow

add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow


set mysql_connection_string "server=localhost;database=gtav_rp3;userid=root;password=643gw6543vw"

#-----------------------------#

add_ace resource.console command allow

#-----------------------------#
# [EN] Nested configs!
exec resources.cfg
#-----------------------------#


#-----------------------------#
# [EN] This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# [EN] Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0
#-----------------------------#



#-----------------------------#
# [EN] A comma-separated list of tags for your server.
# - sets tags "drifting, cars, racing"
# - sets tags "roleplay, military, tanks"
sets tags "custom cars, police, ems, admin, drugs, hiring, sales, jobs, serious, roleplay, custom scripts, custom framework, tuner, tuner chips, fivem, pink cage"
##setr voice_use3dAudio true
setr voice_useSendingRangeOnly true
set sv_enforceGameBuild 2372
#-----------------------------#


#-----------------------------#
# [EN] Set an optional server info and connecting banner image url.
# [EN] Size doesn't matter, any banner sized image will be fine.
# sets banner_detail "https://i.imgur.com/SHz0VwN.png"
# sets banner_connecting "https://i.imgur.com/jx4ODV7.png"
#-----------------------------#


#-----------------------------#
# [EN] Set your server's hostname
sv_hostname "RPFrogs Community Server"

sets sv_projectName "RPFrogs Community Server"
sets sv_projectDesc "xqcowupdates community roleplay server"
sets MicRequired " YES "
sets SteamRequired " YES "
##sets Discord "https://discord.gg/y59qXpanTp"
sets Roleplay "Serious RP"
#-----------------------------#


#-----------------------------#
# Loading a server icon (96x96 PNG file)
load_server_icon logo.png
#-----------------------------#


#-----------------------------#
# [EN] convars which can be used in scripts
set temp_convar "hey world!"
#-----------------------------#




#-----------------------------#
# [EN] Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""
#-----------------------------#


#-----------------------------#
# [EN] Add system admins
add_ace group.admin command allow

#-----------------------------#


#-----------------------------#
# [EN] Hide player endpoints in external log output.
sv_endpointprivacy true
#-----------------------------#


#-----------------------------#
# [EN] Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 48
set onesync legacy
#-----------------------------#

set steam_webApiKey "8F8242A3B85DE1B51ABAB05B6D69A9D1"
sv_licenseKey "cfxk_5p49n3wGtqizq4uDrrGn_2hbnjf"
rcon_password "pogpogpog123"

set onesync_workaround763185 true
set onesync_forceMigration true
set onesync_distanceCullVehicles false
setr voice_useNativeAudio true
setr voice_zoneRadius 256
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
