/* screen - admin-menu */

.admin-menu {
  position:absolute;
  max-height: 500px;
  max-width: 680px;
  opacity: 0;
  /* transform: translate(0, 120px); */
  right:5vh;
  -moz-user-select: none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

.admin-menu.animate-enter {
  animation: animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 120px);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 120px);
}
to{opacity: 1;
transform: translate(200,0);
}
}

.admin-menu .overlap-group23 {
  height: 891px;
  left: 42px;
  position: relative;
  width: 547px;
}

.admin-menu .maincomp {
  align-items: flex-start;
  display: flex;
  height: 891px;
  justify-content: flex-end;
  left: 0;
  min-width: 547px;
  position: absolute;
  top: 0;
}

.admin-menu .overlap-group-2 {
  height: 920px;
  position: relative;
  width: 534px;
}

.admin-menu .rectangle-1 {
  background-color: #141821;
  height: 950px;
  left: 0;
  position: absolute;
  top: 0;
  width: 516px;
}

.admin-menu .rectangle-2 {
  background-color: var(--shark);
  height: 897px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 7px;
}

.admin-menu .rectangle-7 {
  background-color: var(--shark);
  height: 900px;
  left: 509px;
  position: absolute;
  top: 0;
  width: 7px;
}

.admin-menu .rectangle-6 {
  background-color: var(--shark);
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 515px;
}

.admin-menu .text-1 {
  color: #ffffff;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  height: 31px;
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 527px;
}

.admin-menu .closecomp {
  background-color: #cdced1;
  border-radius: 5px;
  height: 277px;
  left: 3px;
  pointer-events: auto;
  position: absolute;
  top: 277px;
  transition: all 0.2s ease;
  width: 12px;
}

.admin-menu .closecomp:hover {
  transform: translate(-5px, 0);
}

.admin-menu .text-2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  height: 14px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 131px;
  width: 13px;
}

.admin-menu .bennyscomp {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 39px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .bennyscomp:hover {
  transform: translate(5px, -0px);
}

.admin-menu .overlap-group {
  height: 33px;
  left: 4px;
  position: relative;
  width: 479px;
}

.admin-menu .star-1 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 25px;
}

.admin-menu .access-bennys {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .text-3 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 76px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp:hover {
  transform: translate(5px, -0px);
}

.admin-menu .overlap-group-1 {
  height: 32px;
  left: 4px;
  position: relative;
  width: 479px;
}

.admin-menu .star-1-1 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 19px;
}

.admin-menu .text-4 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i720717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-1 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 113px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-1:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7257 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i725717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-2 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 150px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-2:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7307 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i730717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-3 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 187px;
  transition: all 0.2s ease;
  width: 484px;
}
.admin-menu .spawncomp-3:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7357 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i735717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-4 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 224px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-4:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7407 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i740717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-5 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 261px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-5:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7467 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i746717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-6 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 299px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-6:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7517 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i751717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-7 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 336px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-7:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7567 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i756717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-8 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 373px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-8:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7617 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i761717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-9 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 410px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-9:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7667 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i766717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-10 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 447px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-10:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7717 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i771717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-11 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 484px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-11:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7767 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i776717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-12 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 521px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-12:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7817 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i781717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-13 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 559px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-13:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7867 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i786717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-14 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 596px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-14:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7917 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i791717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-15 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 633px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-15:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7967 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i796717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-16 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 670px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-16:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7101 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i7101717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-17 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 707px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-17:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7106 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i7106717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-18 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 744px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-18:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7111 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i7111717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-19 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 33px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 781px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-19:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7116 {
  height: 33px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i7116717 {
  height: 23px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .spawncomp-20 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 819px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-20:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawncomp-21 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 857px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-21:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawncomp-22 {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 32px;
  left: 31px;
  pointer-events: auto;
  position: absolute;
  top: 895px;
  transition: all 0.2s ease;
  width: 484px;
}

.admin-menu .spawncomp-22:hover {
  transform: translate(5px, -0px);
}

.admin-menu .spawn-vehicle-i7121 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .spawn-vehicle-i7122 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .spawn-vehicle-i7123 {
  height: 32px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 461px;
}

.admin-menu .i7121717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .i7122717 {
  height: 22px;
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 21px;
}

.admin-menu .component-1 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  left: 15px;
  min-height: 8px;
  position: absolute;
  top: 883px;
  width: 528px;
}

.admin-menu .text-5 {
  color: #ffffff;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 8px;
  letter-spacing: 0;
  margin-left: -6.32px;
  margin-top: -13px;
  text-align: center;
  width: 529px;
}

.admin-menu .rectangle-6-1 {
  height: 8px;
  margin-left: -0.33px;
  margin-top: 5px;
  width: 516px;
}
